:root {
  --train-l: black;
  --train-m: black;
  --train-r: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  animation: 25s linear;
  animation-name: c-l, c-m, c-r;
  animation-delay: 0s;
}

@keyframes c-l {
  0% {
    --train-l: blue;
  }
  6.6666666667% {
    --train-l: blue;
  }
  13.3333333333% {
    --train-l: black;
  }
  20% {
    --train-l: black;
  }
  26.6666666667% {
    --train-l: black;
  }
  33.3333333333% {
    --train-l: black;
  }
  40% {
    --train-l: blue;
  }
  46.6666666667% {
    --train-l: black;
  }
  53.3333333333% {
    --train-l: blue;
  }
  60% {
    --train-l: blue;
  }
  66.6666666667% {
    --train-l: blue;
  }
  73.3333333333% {
    --train-l: black;
  }
  80% {
    --train-l: blue;
  }
  86.6666666667% {
    --train-l: blue;
  }
  93.3333333333% {
    --train-l: black;
  }
}
@keyframes c-m {
  0% {
    --train-m: black;
  }
  6.6666666667% {
    --train-m: black;
  }
  13.3333333333% {
    --train-m: black;
  }
  20% {
    --train-m: blue;
  }
  26.6666666667% {
    --train-m: black;
  }
  33.3333333333% {
    --train-m: black;
  }
  40% {
    --train-m: black;
  }
  46.6666666667% {
    --train-m: blue;
  }
  53.3333333333% {
    --train-m: black;
  }
  60% {
    --train-m: black;
  }
  66.6666666667% {
    --train-m: blue;
  }
  73.3333333333% {
    --train-m: black;
  }
  80% {
    --train-m: black;
  }
  86.6666666667% {
    --train-m: black;
  }
  93.3333333333% {
    --train-m: black;
  }
}
@keyframes c-r {
  0% {
    --train-r: black;
  }
  6.6666666667% {
    --train-r: black;
  }
  13.3333333333% {
    --train-r: blue;
  }
  20% {
    --train-r: black;
  }
  26.6666666667% {
    --train-r: blue;
  }
  33.3333333333% {
    --train-r: blue;
  }
  40% {
    --train-r: black;
  }
  46.6666666667% {
    --train-r: black;
  }
  53.3333333333% {
    --train-r: black;
  }
  60% {
    --train-r: black;
  }
  66.6666666667% {
    --train-r: black;
  }
  73.3333333333% {
    --train-r: blue;
  }
  80% {
    --train-r: black;
  }
  86.6666666667% {
    --train-r: black;
  }
  93.3333333333% {
    --train-r: blue;
  }
}
.tester-l {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: var(--train-l);
}

.tester-m {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 100px;
  height: 100px;
  background-color: var(--train-m);
}

.tester-r {
  position: absolute;
  top: 0;
  left: 200px;
  width: 100px;
  height: 100px;
  background-color: var(--train-r);
}

.test-display {
  position: absolute;
  height: 80vh;
  width: 80vw;
  background-color: black;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}

@keyframes train-animation {
  0% {
    transform: translateY(-3850px);
  }
  100% {
    transform: translateY(650px);
  }
}
.train-container {
  background-color: blueviolet;
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.train-container .train-inner {
  animation: train-animation 25s linear forwards;
  animation-delay: 0s;
}
.train-container .train-inner .train-row {
  display: grid;
  background-color: pink;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
}
.train-container .train-inner .train-row .train.left {
  grid-column: 1/2;
  background-color: #0f0;
}
.train-container .train-inner .train-row .train.middle {
  grid-column: 2/3;
  background-color: #00f;
}
.train-container .train-inner .train-row .train.right {
  grid-column: 3/4;
  background-color: #f00;
}

.player-controls {
  border: 1px solid black;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 270px);
  display: flex;
  gap: 10px;
}
.player-controls .player-move-btn {
  flex: 1;
  background-color: red;
  height: 100px;
  width: 100px;
  position: relative;
}
.player-controls .player-move-btn input {
  display: none;
  width: 0px;
  position: absolute;
}

.player-wrapper {
  position: absolute;
  height: 100px;
  width: 166.6666666667px;
  background-color: white;
  bottom: 10px;
  transition: left 0.05s ease-out;
}

body:has(#move-l:checked) .player-wrapper {
  left: 0%;
}
body:has(#move-l:checked) #move-l-label {
  opacity: 0.4;
}
body:has(#move-l:checked) #move-l-label:before {
  content: "<-";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body:has(#move-l:checked) #move-m-label:before {
  content: "->";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body:has(#move-l:checked) #move-r-label {
  display: none;
}

body:has(#move-m:checked) .player-wrapper {
  left: 33.3333333333%;
}
body:has(#move-m:checked) #move-l-label:before {
  content: "<-";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body:has(#move-m:checked) #move-m-label {
  display: none;
}
body:has(#move-m:checked) #move-r-label:before {
  content: "->";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body:has(#move-r:checked) .player-wrapper {
  left: 66.6666666667%;
}
body:has(#move-r:checked) #move-l-label {
  display: none;
}
body:has(#move-r:checked) #move-m-label:before {
  content: "<-";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body:has(#move-r:checked) #move-r-label {
  opacity: 0.4;
}
body:has(#move-r:checked) #move-r-label:before {
  content: "->";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@container style(--train-l: blue) {
  body:has(#move-l:checked) .train-inner {
    animation-play-state: paused;
  }
  body:has(#move-l:checked) .test-display {
    display: block;
  }
}
@container style(--train-m: blue) {
  body:has(#move-m:checked) .train-inner {
    animation-play-state: paused;
  }
  body:has(#move-m:checked) .test-display {
    display: block;
  }
}
@container style(--train-r: blue) {
  body:has(#move-r:checked) .train-inner {
    animation-play-state: paused;
  }
  body:has(#move-r:checked) .test-display {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
